# ---> C++
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
# Fortran module files
*.mod

# compiled shaders
*.spv

# visualstudio
.vs/
*.sln
*.cln
*.vcxproj
*.vcxproj.*
*.pdb
*.tlog
*.ilk
*.log
build/
pdb/
kudasai.exe